<form class="search-form search-form-js d1" id="search-form">
  <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
  <button type="submit"></button>
</form>

<div class="container">

  <div class="welcome-info">
    <h1 class="welcome-head animate__animated animate__jackInTheBox">Welcome to picture gallery</h1>
    <p class="welcome-text animate__animated animate__fadeIn">here you will find many-many pictures,
      <br>
      just write the name of the picture</p>
    <ul class="welcome-list">
      <li class="welcome-list__item">
        <a class="welcome-list__link welcome-list__link-git animate__animated animate__fadeIn"
          href="https://github.com/iPanamas" target="_blank">github.com/iPanamas</a></li>
      <li class="welcome-list__item">
        <a class="welcome-list__link welcome-list__link-inst animate__animated animate__fadeIn"
          href="https://www.instagram.com/ipanamas" target="_blank">instagram.com/ipanamas</a></li>
    </ul>
  </div>
  <div class="gallery gallery-js"></div>
  <button type="button" class="load-more load-more-js is-hidden"><span>Load more pictures</span></button>
</div>